#foot {
  background: #1E88E5;
  width: 1520px;
  height: 110px;
  line-height: 70px;
  color: white;
}

#foot p {
  position: relative;
  color: white;
  top: 20px;
  margin: 0px;
  padding: 0px;
 text-align: center;
}
