.body {
  padding-top: 40px;
  padding-left: 40px;
}

img#coche1 {
  position: absolute;
}

img#coche2 {
  position: absolute;
  margin-top: 10px;
}

.zona_boton {
  text-align: center;
  width: 100%;
  margin-top: 240px;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  
  background-size: cover;
}

#card2 {
  position: absolute;
  left: 500px;
  top: 385px;
}
#card3 {
  position: absolute;
  left: 1000px;
  top: 385px;
}

#iconos {
  color: #2196F3;
}
