#fabri {
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  margin-top: 20px;
}
#icon1{
    position: relative;
    top: 85px;
    left: 200px;
}
#parr1 {
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
  
}
#img1{
    height: 350px;
    width: 350px;
    
}
#text2{
    position: absolute;
    left: 500px;
    top: 950px;
    
}
#text2 h2 {
  font-size: 30px;
}

#boton{
    position: absolute;
    left: 180px;
    top: 150px;
    width: 180px;
    height: 70px;
    border-radius: 20px;
}
#icon2 {
  position: relative;
  top: 3px;
  left: 3px;
  color: #2196F3
}
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

#next{
    left: 30px;
    top: 9px;
}
#back{
    top: 9px;
}

#contenido1 {
  position: absolute;
  left: 400px;
  top: 1060px;
  
}

#parr2 {
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
}


#next2{
    left: 30px;
    
}
#img2{
    height: 350px;
}
#img3{
    height: 320px;
}
#back3{
    top: 150px;
    left: 120px;
}
