<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="bryan-header-image"></div>
        <mat-card-title>Bryan Pérez</mat-card-title>
        <mat-card-subtitle>Autor del proyecto</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
        src="https://scontent.fuio7-1.fna.fbcdn.net/v/t31.0-8/14500485_1184478054947091_6003075890393299129_o.jpg?_nc_cat=106&ccb=3&_nc_sid=09cbfe&_nc_ohc=4j1YfpjIyUUAX8UwXA-&_nc_ht=scontent.fuio7-1.fna&oh=a2058c957be73434da488db61ea2a208&oe=606496FE"
        alt="Photo of a Shiba Inu">
    <!-- <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
    </mat-card-content> -->
    <mat-card-actions>
        <button mat-button><a href="https://www.facebook.com/bryan.perez.1497/" target="_blank">Facebook</a> </button>
        <button mat-button><a href="https://github.com/bryanPEREZ1497" target="_blank">GitHub</a> </button>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="mau-header-image"></div>
        <mat-card-title>Mauricio Matango</mat-card-title>
        <mat-card-subtitle>Autor del proyecto</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
        src="https://scontent.fuio7-1.fna.fbcdn.net/v/t1.0-9/92818625_1504713363029568_7687292170444734464_n.jpg?_nc_cat=109&ccb=3&_nc_sid=174925&_nc_ohc=6QTtEkSk8bUAX85ntfh&_nc_ht=scontent.fuio7-1.fna&oh=dc2061b6242f15710a95dc6c15d6d3db&oe=60642CD0"
        alt="Photo of a Shiba Inu">
    <!-- <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
    </mat-card-content> -->
    <mat-card-actions>
        <button mat-button><a href="https://www.facebook.com/sonblackmauricio" target="_blank">Facebook</a> </button>
        <button mat-button><a href="https://github.com/mauricio403/" target="_blank">GitHub</a> </button>
    </mat-card-actions>
</mat-card>