.example-card {
  max-width: 400px;
  margin: auto;
  margin-top: 5%;
}

.bryan-header-image {
  background-image: url('https://scontent.fuio7-1.fna.fbcdn.net/v/t31.0-8/14500485_1184478054947091_6003075890393299129_o.jpg?_nc_cat=106&ccb=3&_nc_sid=09cbfe&_nc_ohc=4j1YfpjIyUUAX8UwXA-&_nc_ht=scontent.fuio7-1.fna&oh=a2058c957be73434da488db61ea2a208&oe=606496FE');
  background-size: cover;
}

.mau-header-image {
    background-image: url('https://scontent.fuio7-1.fna.fbcdn.net/v/t1.0-9/92818625_1504713363029568_7687292170444734464_n.jpg?_nc_cat=109&ccb=3&_nc_sid=174925&_nc_ohc=6QTtEkSk8bUAX85ntfh&_nc_ht=scontent.fuio7-1.fna&oh=dc2061b6242f15710a95dc6c15d6d3db&oe=60642CD0');
    background-size: cover;
  }