.example-spacer {
  flex: 1 1 auto;
}
#sol {
  position: absolute;
  width: 30px;
  height: 30px;
}
#menu {
  position: absolute;
  left: 800px;
  float: right;
  font-size: 18px;
}

#menu ul {
  line-height: 85px;
  width: 60%;
  float: right;
}

#menu ul li {
  top: 20px;
  display: inline-block;
  list-style: none;
  height: 46px;
  margin-left: 15px;
  margin-right: 15px;
}

#icon {
  position: static;
  top: 50px;
  left: 10px;
}
